[Unit]
Description=Jupyter-Notebook Daemon

[Service]
Type=simple
ExecStart=/bin/bash -c "/home/lawortsmann/miniforge3/bin/jupyter-notebook --config /home/lawortsmann/scripts/notebook_config.py"
WorkingDirectory=/home/lawortsmann
User=lawortsmann
Group=lawortsmann
PIDFile=/run/jupyter-notebook.pid
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
